body {
  background-color: #414042;
  font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

.left-side{
  margin-right: 65%;
  margin-top: 15%;
  text-align: center;
  float: right;
  text-align: right;
  vertical-align: center;
  margin-top: 4%;
}

h1{
  font-size: 36px;
}

.right-side{
  margin-left: 37%;
  position: absolute;
}

.content h1 {
  color: #e0e0e0;
}

ul {
  list-style: none;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: gray;
}

a:hover{
  color:#1097E1;
}

div.table-title {
  display: block;
  margin: auto;
  padding:5px;
  width: 100%;
}

.title{
  color: rgb(237, 235, 235) !important;
  font-weight: normal;
  width: 100%;
  font-size: 40px;
}

.version {
  text-align: right;
  color: white
}

.middle {
    margin-top: 14%;
}

li.demo-table{
    font-size: 12px;
    text-align: left;
}

.demo-table a {
    font-size: 12px;
}

li a{
  text-align: left;
  font-size: 13px;
}

li {
  padding-left: 30px;
}

table {
    border-collapse: collapse;
    width: 99%;
    background: #fff;
}
td, th {
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    text-align: center;
}
  td.err {
    background-color: #e992b9;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
  }
th {
    background-color: #108CDD;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
  background-color: #108CDD;
}

tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}


